.project-builder {
	width: 100%;
}

.project-builder input, textarea {
	width: 100%;
	border: 1px solid rgb(213, 213, 213);
	margin-bottom: 20px;
}

.project-builder textarea:focus {
	outline: auto 5px -webkit-focus-ring-color;
}

.comment-container ul {
	list-style-type: none;
}

.comment-container li {
	list-style-type: none;
	background-color: #F5F5F8;
	border-radius: 100px;
	margin: 10px 0px;
	padding: 5px 20px;
}

.comment-container h5 {
	font-weight: bold;
	margin-bottom: 5px;
}

.comment-container p {
	font-style: italic;
}