<header class="hero-unit" id="banner" ng-click="test()">
  <div class="container">
    <label><h3> {{ project.title }} </h3>
    <p class="lead"> Created by: {{ project.ownerName }} </p></label>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
  	<h4>Summary</h4>
  	<p> {{ project.summary }} </p>
  	<hr>
  	<h4>Details</h4>
  	<p> {{ project.details }} </p>
	  <hr>
  	<hr>
	  <h4>Discussion</h4>
  	<div class="comment-container">
  		<ul>
  			<li ng-repeat="comment in project.comments">
  				<h5> {{ comment.username }} </h5>
  				<p> {{ comment.text }} </p>
  			</li>
  		</ul>
  		<br>
			<form>
			  <label>Share your thoughts</label>
			  <p class="input-group">
			    <input type="text" class="form-control" placeholder="Add your comment here." ng-model="newComment">
			    <span class="input-group-btn">
			      <button type="submit" class="btn btn-primary" ng-click="addComment()">Comment</button>
			    </span>
			  </p>
			</form>

  	</div>

  </div>
</div>
