.project-abstract {
	margin: 10px;
	border: 1px #4393B9 solid;
	border-radius: 10px;
	overflow: hidden;
}

.project-abstract a {
	height: 150px;
}

.project-abstract h4 {
	margin: 0px auto 5px;
}

.stat-bar {
	position:absolute;
  bottom: 0px;
}

.container ul {
	border: none;
}